# Absenteeism at Work

## PROBLEM STATEMENT (purpose and value of a model)

In many businesses, absenteeism is a serious problem that negatively affects productivity, employee morale, and ultimately the organization's bottom line.'Absenteeism at work' depicts different reasons and factors that contribute to the employee's absence at work from July 2007 to July 2010 at a courier company in Brazil.

The problem statement is related to the Human Resources(HR) Analytics where the employee's absence can be validated using various reasons which can potentially impact the weightage for the decision of promotion and  elimination at the company.

Understanding the variables that lead to workplace absenteeism can help the human resources department to identify measures to lower its prevalence. The parameters taken are the connections between several personal, professional, and health-related aspects and absenteeism in order to know the reason and consequence for the absence according to HR rules and regulations. On the basis of the results, suggestions will be made for developing policies and programs to deal with absenteeism and support a healthy and effective workplace.

## Import and install python libraries

In [47]:
# import packages
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from xgboost import XGBClassifier
from scipy.stats import randint
from sklearn.metrics import make_scorer, recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
!pip install xgboost
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
!pip install imblearn
from imblearn.over_sampling import SMOTE
from sklearn.utils import resample
from imblearn.over_sampling import RandomOverSampler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
import warnings
warnings.filterwarnings("ignore")
!pip install tensorflow
!pip install keras

Requirement already satisfied: xgboost in c:\users\aiswarya reddy\anaconda3\lib\site-packages (1.7.4)
Requirement already satisfied: numpy in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from xgboost) (1.7.3)

WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)

Requirement already satisfied: imblearn in c:\users\aiswarya reddy\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from imblearn) (0.10.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.7.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)

WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)

Requirement already satisfied: tensorflow in c:\users\aiswarya reddy\anaconda3\lib\site-packages (2.11.1)
Requirement already satisfied: tensorflow-intel==2.11.1 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow) (2.11.1)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (0.2.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (2.2.0)
Requirement already satisfied: tensorflow-estimator<2.12,>=2.11.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (2.11.0)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (0.4.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (1.12.1)
Requirement already satisfied: tensorboard<2.12,>=2.11 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (2.11.2)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (0.31.0)
Requirement already satisfied: keras<2.12,>=2.11.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (2.11.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (15.0.6.1)
Requirement already satisfied: six>=1.12.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (1.16.0)
Requirement already satisfied: flatbuffers>=2.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (23.3.3)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (4.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (3.3.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (1.4.0)
Requirement already satisfied: numpy>=1.20 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (1.21.5)
Requirement already satisfied: setuptools in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (61.2.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (3.6.0)
Requirement already satisfied: packaging in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (21.3)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (1.42.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (1.6.3)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorflow-intel==2.11.1->tensorflow) (3.19.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.11.1->tensorflow) (0.37.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.1->tensorflow) (0.4.6)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.1->tensorflow) (2.27.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.1->tensorflow) (1.8.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.1->tensorflow) (3.3.4)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.1->tensorflow) (0.6.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.1->tensorflow) (1.33.0)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from tensorboard<2.12,>=2.11->tensorflow-intel==2.11.1->tensorflow) (2.0.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.1->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.1->tensorflow) (4.7.2)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.1->tensorflow) (4.2.2)

WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)

Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.1->tensorflow) (1.3.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.1->tensorflow) (0.4.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.1->tensorflow) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.1->tensorflow) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.1->tensorflow) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.1->tensorflow) (2.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.12,>=2.11->tensorflow-intel==2.11.1->tensorflow) (3.2.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\aiswarya reddy\anaconda3\lib\site-packages (from packaging->tensorflow-intel==2.11.1->tensorflow) (3.0.4)
Requirement already satisfied: keras in c:\users\aiswarya reddy\anaconda3\lib\site-packages (2.11.0)

WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -oblib (c:\users\aiswarya reddy\anaconda3\lib\site-packages)

## Set random seed

In [48]:
# set random seed to ensure that results are repeatable
np.random.seed(1)

##  Load data

In [49]:
# load data

aaw = pd.read_csv("C:\\Users\\Aiswarya Reddy\\Downloads\\Absenteeism_at_work.csv")

In [50]:
aaw.head(20)

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,"239,554",...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,"239,554",...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,"239,554",...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,"239,554",...,0,1,2,1,0,1,90,172,30,2
5,3,23,7,6,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,2
6,10,22,7,6,1,361,52,3,28,"239,554",...,0,1,1,1,0,4,80,172,27,8
7,20,23,7,6,1,260,50,11,36,"239,554",...,0,1,4,1,0,0,65,168,23,4
8,14,19,7,2,1,155,12,14,34,"239,554",...,0,1,2,1,0,0,95,196,25,40
9,1,22,7,2,1,235,11,14,37,"239,554",...,0,3,1,0,0,1,88,172,29,8
10,20,1,7,2,1,260,50,11,36,"239,554",...,0,1,4,1,0,0,65,168,23,8
11,20,1,7,3,1,260,50,11,36,"239,554",...,0,1,4,1,0,0,65,168,23,8
12,20,11,7,4,1,260,50,11,36,"239,554",...,0,1,4,1,0,0,65,168,23,8
13,3,11,7,4,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,1
14,3,23,7,4,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,4
15,24,14,7,6,1,246,25,16,41,"239,554",...,0,1,0,1,0,0,67,170,23,8
16,3,23,7,6,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,2
17,3,21,7,2,1,179,51,18,38,"239,554",...,0,1,0,1,0,0,89,170,31,8
18,6,11,7,5,1,189,29,13,33,"239,554",...,0,1,2,0,0,2,69,167,25,8
19,33,23,8,4,1,248,25,14,47,"205,917",...,0,1,2,0,0,1,86,165,32,2

## Conduct initial exploration of the data

In [51]:
# generate a basic summary of the data
aaw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               740 non-null    int64
 1   Reason for absence               740 non-null    int64
 2   Month of absence                 740 non-null    int64
 3   Day of the week                  740 non-null    int64
 4   Seasons                          740 non-null    int64
 5   Transportation expense           740 non-null    int64
 6   Distance from Residence to Work  740 non-null    int64
 7   Service time                     740 non-null    int64
 8   Age                              740 non-null    int64
 9   Work load Average/day            740 non-null    object
 10  Hit target                       740 non-null    int64
 11  Disciplinary failure             740 non-null    int64
 12  Education                        740 non-null    int64
 13  Son                              740 non-null    int64
 14  Social drinker                   740 non-null    int64
 15  Social smoker                    740 non-null    int64
 16  Pet                              740 non-null    int64
 17  Weight                           740 non-null    int64
 18  Height                           740 non-null    int64
 19  Body mass index                  740 non-null    int64
 20  Absenteeism time in hours        740 non-null    int64
dtypes: int64(20), object(1)
memory usage: 121.5+ KB

### Here we can observe that the Work load Average/day  column data type is object because of the comma present in between numbers

In [52]:
# generate a statistical summary of the numeric value in the data
aaw.describe()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
count,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000
mean,18.017568,19.216216,6.324324,3.914865,2.544595,221.329730,29.631081,12.554054,36.450000,94.587838,0.054054,1.291892,1.018919,0.567568,0.072973,0.745946,79.035135,172.114865,26.677027,6.924324
std,11.021247,8.433406,3.436287,1.421675,1.111831,66.952223,14.836788,4.384873,6.478772,3.779313,0.226277,0.673238,1.098489,0.495749,0.260268,1.318258,12.883211,6.034995,4.285452,13.330998
min,1.000000,0.000000,0.000000,2.000000,1.000000,118.000000,5.000000,1.000000,27.000000,81.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,56.000000,163.000000,19.000000,0.000000
25%,9.000000,13.000000,3.000000,3.000000,2.000000,179.000000,16.000000,9.000000,31.000000,93.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,69.000000,169.000000,24.000000,2.000000
50%,18.000000,23.000000,6.000000,4.000000,3.000000,225.000000,26.000000,13.000000,37.000000,95.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,83.000000,170.000000,25.000000,3.000000
75%,28.000000,26.000000,9.000000,5.000000,4.000000,260.000000,50.000000,16.000000,40.000000,97.000000,0.000000,1.000000,2.000000,1.000000,0.000000,1.000000,89.000000,172.000000,31.000000,8.000000
max,36.000000,28.000000,12.000000,6.000000,4.000000,388.000000,52.000000,29.000000,58.000000,100.000000,1.000000,4.000000,4.000000,1.000000,1.000000,8.000000,108.000000,196.000000,38.000000,120.000000

In [53]:
# Check the missing values by summing the total na's for each variable
aaw.isna().sum()

ID                                 0
Reason for absence                 0
Month of absence                   0
Day of the week                    0
Seasons                            0
Transportation expense             0
Distance from Residence to Work    0
Service time                       0
Age                                0
Work load Average/day              0
Hit target                         0
Disciplinary failure               0
Education                          0
Son                                0
Social drinker                     0
Social smoker                      0
Pet                                0
Weight                             0
Height                             0
Body mass index                    0
Absenteeism time in hours          0
dtype: int64

## Process the data
* Conduct any data prepartion that should be done *BEFORE* the data split.
* Split the data.
* Conduct any data preparation that should be done *AFTER* the data split.

## Data prepartion that should be done BEFORE the data split

In [54]:
print (aaw.columns)

Index(['ID', 'Reason for absence', 'Month of absence', 'Day of the week',
       'Seasons', 'Transportation expense', 'Distance from Residence to Work',
       'Service time', 'Age', 'Work load Average/day ', 'Hit target',
       'Disciplinary failure', 'Education', 'Son', 'Social drinker',
       'Social smoker', 'Pet', 'Weight', 'Height', 'Body mass index',
       'Absenteeism time in hours'],
      dtype='object')

In [55]:
aaw.drop(['ID'], axis=1, inplace = True)

### Removing the comma to make the column Work load Average/day data type from object to integer

In [56]:
# replace commas in between numbers with an empty string in the "Work load Average/day " column
aaw['Work load Average/day '] = aaw['Work load Average/day '].str.replace(',','')

In [57]:
aaw['Work load Average/day '] = aaw['Work load Average/day '].astype(int)

In [58]:
aaw.head(5)

,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,26,7,3,1,289,36,13,33,239554,97,0,1,2,1,0,1,90,172,30,4
1,0,7,3,1,118,13,18,50,239554,97,1,1,1,1,0,0,98,178,31,0
2,23,7,4,1,179,51,18,38,239554,97,0,1,0,1,0,0,89,170,31,2
3,7,7,5,1,279,5,14,39,239554,97,0,1,2,1,1,0,68,168,24,4
4,23,7,5,1,289,36,13,33,239554,97,0,1,2,1,0,1,90,172,30,2

In [59]:
# explore the dataframe columns to verify the changed columns (Here the column changed is Work load Average/day )
aaw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 20 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Reason for absence               740 non-null    int64
 1   Month of absence                 740 non-null    int64
 2   Day of the week                  740 non-null    int64
 3   Seasons                          740 non-null    int64
 4   Transportation expense           740 non-null    int64
 5   Distance from Residence to Work  740 non-null    int64
 6   Service time                     740 non-null    int64
 7   Age                              740 non-null    int64
 8   Work load Average/day            740 non-null    int32
 9   Hit target                       740 non-null    int64
 10  Disciplinary failure             740 non-null    int64
 11  Education                        740 non-null    int64
 12  Son                              740 non-null    int64
 13  Social drinker                   740 non-null    int64
 14  Social smoker                    740 non-null    int64
 15  Pet                              740 non-null    int64
 16  Weight                           740 non-null    int64
 17  Height                           740 non-null    int64
 18  Body mass index                  740 non-null    int64
 19  Absenteeism time in hours        740 non-null    int64
dtypes: int32(1), int64(19)
memory usage: 112.9 KB

### Creating a column Absence of Employee for the absence of the worker equal to or greater than 5 hours indicating the absence for 1 or more days

In [60]:
aaw['Absence of Employee'] = aaw['Absenteeism time in hours'].apply(lambda x: 1 if x >= 3 else 0)

In [61]:
aaw.head(20)

,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,...,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours,Absence of Employee
0,26,7,3,1,289,36,13,33,239554,97,...,1,2,1,0,1,90,172,30,4,1
1,0,7,3,1,118,13,18,50,239554,97,...,1,1,1,0,0,98,178,31,0,0
2,23,7,4,1,179,51,18,38,239554,97,...,1,0,1,0,0,89,170,31,2,0
3,7,7,5,1,279,5,14,39,239554,97,...,1,2,1,1,0,68,168,24,4,1
4,23,7,5,1,289,36,13,33,239554,97,...,1,2,1,0,1,90,172,30,2,0
5,23,7,6,1,179,51,18,38,239554,97,...,1,0,1,0,0,89,170,31,2,0
6,22,7,6,1,361,52,3,28,239554,97,...,1,1,1,0,4,80,172,27,8,1
7,23,7,6,1,260,50,11,36,239554,97,...,1,4,1,0,0,65,168,23,4,1
8,19,7,2,1,155,12,14,34,239554,97,...,1,2,1,0,0,95,196,25,40,1
9,22,7,2,1,235,11,14,37,239554,97,...,3,1,0,0,1,88,172,29,8,1
10,1,7,2,1,260,50,11,36,239554,97,...,1,4,1,0,0,65,168,23,8,1
11,1,7,3,1,260,50,11,36,239554,97,...,1,4,1,0,0,65,168,23,8,1
12,11,7,4,1,260,50,11,36,239554,97,...,1,4,1,0,0,65,168,23,8,1
13,11,7,4,1,179,51,18,38,239554,97,...,1,0,1,0,0,89,170,31,1,0
14,23,7,4,1,179,51,18,38,239554,97,...,1,0,1,0,0,89,170,31,4,1
15,14,7,6,1,246,25,16,41,239554,97,...,1,0,1,0,0,67,170,23,8,1
16,23,7,6,1,179,51,18,38,239554,97,...,1,0,1,0,0,89,170,31,2,0
17,21,7,2,1,179,51,18,38,239554,97,...,1,0,1,0,0,89,170,31,8,1
18,11,7,5,1,189,29,13,33,239554,97,...,1,2,0,0,2,69,167,25,8,1
19,23,8,4,1,248,25,14,47,205917,92,...,1,2,0,0,1,86,165,32,2,0

## Encoding

In [62]:
# label encoding 

labelencoder = LabelEncoder()
aaw['Education'] = labelencoder.fit_transform(aaw['Education'])
aaw['Son'] = labelencoder.fit_transform(aaw['Son'])
aaw['Pet'] = labelencoder.fit_transform(aaw['Pet'])
aaw['Absence of Employee'] = labelencoder.fit_transform(aaw['Absence of Employee'])

In [63]:
aaw.head(10)

,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,Hit target,...,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours,Absence of Employee
0,26,7,3,1,289,36,13,33,239554,97,...,0,2,1,0,1,90,172,30,4,1
1,0,7,3,1,118,13,18,50,239554,97,...,0,1,1,0,0,98,178,31,0,0
2,23,7,4,1,179,51,18,38,239554,97,...,0,0,1,0,0,89,170,31,2,0
3,7,7,5,1,279,5,14,39,239554,97,...,0,2,1,1,0,68,168,24,4,1
4,23,7,5,1,289,36,13,33,239554,97,...,0,2,1,0,1,90,172,30,2,0
5,23,7,6,1,179,51,18,38,239554,97,...,0,0,1,0,0,89,170,31,2,0
6,22,7,6,1,361,52,3,28,239554,97,...,0,1,1,0,3,80,172,27,8,1
7,23,7,6,1,260,50,11,36,239554,97,...,0,4,1,0,0,65,168,23,4,1
8,19,7,2,1,155,12,14,34,239554,97,...,0,2,1,0,0,95,196,25,40,1
9,22,7,2,1,235,11,14,37,239554,97,...,2,1,0,0,1,88,172,29,8,1

In [64]:
aaw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Reason for absence               740 non-null    int64
 1   Month of absence                 740 non-null    int64
 2   Day of the week                  740 non-null    int64
 3   Seasons                          740 non-null    int64
 4   Transportation expense           740 non-null    int64
 5   Distance from Residence to Work  740 non-null    int64
 6   Service time                     740 non-null    int64
 7   Age                              740 non-null    int64
 8   Work load Average/day            740 non-null    int32
 9   Hit target                       740 non-null    int64
 10  Disciplinary failure             740 non-null    int64
 11  Education                        740 non-null    int64
 12  Son                              740 non-null    int64
 13  Social drinker                   740 non-null    int64
 14  Social smoker                    740 non-null    int64
 15  Pet                              740 non-null    int64
 16  Weight                           740 non-null    int64
 17  Height                           740 non-null    int64
 18  Body mass index                  740 non-null    int64
 19  Absenteeism time in hours        740 non-null    int64
 20  Absence of Employee              740 non-null    int64
dtypes: int32(1), int64(20)
memory usage: 118.6 KB

## Split data (train/test)

In [65]:
X = aaw.drop('Absence of Employee', axis=1)
y = aaw['Absence of Employee']

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=1)

## Conduct any data prepartion that should be done AFTER the data split

## Scaling

In [67]:
# create a standard scaler and fit it to the training set of predictors
scaler = preprocessing.StandardScaler()
cols_to_stdize = ['Transportation expense', 'Distance from Residence to Work', 
                   'Service time', 'Work load Average/day ', 'Weight', 'Height', 
                   'Body mass index']                
               
scaler = preprocessing.StandardScaler()
scaler.fit(X_train[cols_to_stdize])

# Transform the predictors of training and validation sets
X_train[cols_to_stdize] = scaler.fit_transform(X_train[cols_to_stdize]) # train_predictors is not a numpy array


X_test[cols_to_stdize] = scaler.transform(X_test[cols_to_stdize]) # validation_target is now a series object

## Balancing data

In [68]:
sm = SMOTE(random_state=42)

# resample the training data using SMOTE
X_res, y_res = sm.fit_resample(X_train, y_train)

# check the class distribution of the resampled data
y_res.value_counts()

0    315
1    315
Name: Absence of Employee, dtype: int64

## Save the data

In [69]:
train_X = X_train
train_y = y_train # train_target is now a series objecttrain_df.to_csv('aaw_train_df.csv', index=False)
test_X = X_test
test_y = y_test # validation_target is now a series object


train_X.to_csv('aaw_train_X.csv', index=False)
train_y.to_csv('aaw_train_y.csv', index=False)
test_X.to_csv('aaw_test_X.csv', index=False)
test_y.to_csv('aaw_test_y.csv', index=False)